.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaecf7;
  border-radius: 30px;
  padding: 12px;
  color: var(--purpleBlack);
}

.calendarHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
}

.calendarHead p {
  font-size: x-large;
  font-weight: bold;
}

.calendarHead button {
  background: none;
  border: none;
  margin-left: 25px;
  margin-right: 25px;
}

.calendarHead button:hover {
  cursor: pointer;
}

.calendarGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media screen and (max-width: 1000px) {
  .calendar {
    margin-bottom: 40px;
  }

  .calendarHead p {
    font-size: 20px;
  }
}
