.createLinkPage {
    height: 100%;
    padding: 32px;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 40px;
}


.left {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0px 32px;
}

.mergedCalendar {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    border: 8px solid #2EC0F9;
}

.calendarInfoRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

.choosePartner {
    display: flex;
}

.labelText {
    font-family: Montserrat;
    font-size: 18px;
    color: white;
    padding-right: 8px;
}

.select {
    background: #856DFF;
    text-align: center;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 12px;
    padding: 4px;
    height: 32px;
    color: white
}

.right {
    margin: 0px 12px;
    width: 25%;
    color: white
}

.eventInfo {
    margin-top: 48px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.button {
    background: #7A29EA;
    border: 2px solid #7A29EA;
    padding: 8px;
    font-family: Montserrat;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-top: 12px;
}

.button:hover, .button:focus {
    background: #521D9B;
    border: 2px solid #521D9B;
}

.button:focus {
    border: 2px solid white;
}

.intervieweeEmailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.emailInput {
    margin-top: 12px;
    background: #856DFF;
    border-radius: 20px;
    border: 0px;
    padding: 12px;
    font-family: Montserrat;
    font-size: 16px;
    color: white;
}

.inputArea {
    margin-top: 40px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radioRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.radioLabel {
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    color: white;
}

.radioInput {
  width: 16px;
  height: 16px;
  border: 6px solid #7A29EA;
  border-radius: 50%;
}

.selectLength {
    margin-top: 48px;
}

.createBooking {
    margin-top: 24px;
}

.eventJSON {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: 128px;
}

@media only screen and (max-width: 1024px) {
    .form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left, .right {
        width: 100%
    }
    .labelText {
        font-size: 16px;
    }
    .select {
        font-size: 16px;
    }
    .calendarInfoRow {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 600px) {
    .labelText {
        font-size: 12px;
    }
    .select {
        font-size: 12px;
    }
}