html,
#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: absolute;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(http://localhost:3000/page-1.svg);
}

.App {
  position: absolute;
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  text-align: center;
  font-size: 100%; /* default is 16px for most browsers */
  color: white;
  line-height: 1.5;
}

.App .body {
  position: relative;
  top: 10vh;
  padding: 2.25rem; /* 36px */
}

.logo {
  transform: translateY(10%);
  max-width: 70%;
  min-height: 50%;
  max-height: auto;
}

img {
  max-width: inherit;
  height: auto;
}

button {
  background-color: #0d0739;
  color: white;
  font-family: inherit;
  border-radius: 20px;
  width: 8rem; /* 128px */
  height: 2.5rem; /* 40px */
  border-width: 0;
  font-size: inherit;
}

.cta-button {
  background-color: #7a29ea;
  border-radius: 10px;
  width: 30vh;
  max-width: 100%;
  margin-top: 20px;
}

.cta-button:hover {
  border-width: 2px;
  border-color: white;
}

.landing-buttons {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

/* react-big-calendar component custom styling */
.lead-calendar {
  background-color: white;
  padding: 1rem;
  color: #0d0739;
  border-radius: 30px;
  position: relative;
  height: 100%;
  max-width: 100%;
}

/* .rbc-toolbar {
  flex: auto;
  max-width: inherit;
} */

.rbc-btn-group button {
  max-width: 20vh;
  width: auto;
  height: auto;
}

.rbc-time-view {
  max-height: inherit;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-header {
  border-bottom: none;
}

/* custom scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbccf9;
  border-radius: 12px;
}

/* Track ::-webkit-scrollbar-track */

@media only screen and (max-width: 768px) {
  .rbc-toolbar {
    display: flex;
    flex-direction: column;
  }
}
